/* font import */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

/* variables */
:root {
  --font-main: 'Epilogue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  /* color variables */

  --primary: #ffee6f;
  --primary-light: #fef9be;
  --secondary: rgb(35, 35, 35);
  --focus: #ffee6f;
  --white: rgb(255, 255, 255);
  --green: rgb(32, 171, 88);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-main)
}

ul {
  list-style: none;
}

body {
  line-height: 1.25;
  min-height: 100vh;
  background-color: darkred;
}